<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.diamond.mapper.BrowsesMapper">

    <insert id="addBrowses" parameterType="Browses">
        insert into Browses(userID, docID, createTime)
        values(#{userID}, #{docID}, getdate());
    </insert>

    <select id="getBrowsesDocByUserID" parameterType="String" resultType="Doc">
        select distinct Doc.docID, docTitle, creatorID, lastEditTime, Browses.createTime browseTime
        from Doc,Browses
        where userID = #{userID} and Doc.docID = Browses.docID and isDeleted = 0
        order by Browses.createtime desc
    </select>

</mapper>