<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.diamond.mapper.CommentMapper">

    <resultMap id="CommentPlusMap" type="CommentPlus">
        <!-- id为主键 -->
        <id column="commentID" property="commentID"/>
        <!-- column是数据库表的列名 , property是对应实体类的属性名 -->
        <result column="userID" property="userID"/>
        <result column="commentContent" property="commentContent"/>
        <result column="createTime" property="createTime"/>
        <result column="userName" property="userName"/>
        <result column="imagePath" property="imagePath"/>
        <result column="replyID" property="replyID"/>
        <!--<association property="reply" column="{commentID=replyID}" javaType="Comment" select="getCommentByCommentID"/>-->
    </resultMap>

    <insert id="addComment" parameterType="Comment">
        insert
        into Comment (commentID, docID, userID, createTime, commentContent, replyID)
        values (#{commentID}, #{docID}, #{userID}, GETDATE(), #{commentContent}, #{replyID});
    </insert>

    <select id="getCommentByCommentID" parameterType="String" resultMap="CommentPlusMap">
        select commentID, Comment.userID, commentContent, createTime, userName, imagePath, replyID
        from Comment, DocUser
        where commentID = #{commentID} and Comment.userID = DocUser.userID;
    </select>

    <select id="getCommentByDocID" parameterType="String" resultMap="CommentPlusMap">
        select commentID, Comment.userID, commentContent, createTime, userName, imagePath, replyID
        from Comment, DocUser
        where docID = #{docID} and Comment.userID = DocUser.userID
        order by createTime desc;
    </select>

    <select id="getCommentByUserID" parameterType="String" resultMap="CommentPlusMap">
        select commentID, Comment.userID, commentContent, createTime, userName, imagePath, replyID
        from Comment, DocUser
        where Comment.userID = #{userID} and DocUser.userID = Comment.userID;
    </select>

    <delete id="deleteComment" parameterType="String">
        delete
        from Comment
        where commentID = #{commentID};
    </delete>

</mapper>