<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.diamond.mapper.CommentMapper">

    <insert id="addComment" parameterType="Comment">
        insert
        into Comment (commentID, docID, userID, createTime, commentContent)
        values (#{commentID}, #{docID}, #{userID}, GETDATE(), #{commentContent});
    </insert>

    <select id="getCommentByDocID" parameterType="String" resultType="Comment">
        select *
        from Comment
        where docID = #{docID};
    </select>

    <select id="getCommentByUserID" parameterType="String" resultType="Comment">
        select *
        from Comment
        where userID = #{userID};
    </select>

    <delete id="deleteComment" parameterType="String">
        delete
        from Comment
        where commentID = #{commentID};
    </delete>

</mapper>