<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.diamond.mapper.FavoriteMapper">

    <insert id="addFavorite" parameterType="Map">
        insert
        into Favorite (docID, userID, createTime)
        values (#{docID}, #{userID}, GETDATE());
    </insert>

    <select id="getFavoriteDocByUserID" parameterType="String" resultType="Doc">
        select Doc.docID, docTitle, creatorID, lastEditTime
        from Doc,Favorite
        where userID = #{userID} and Doc.docID = Favorite.docID and isDeleted = 0
        order by Favorite.createtime desc
    </select>

    <select id="checkExistFavorite" parameterType="String" resultType="Favorite">
        select *
        from Favorite
        where userID = #{userID} and docID = #{docID}
    </select>

    <delete id="deleteFavorite" parameterType="Map">
        delete
        from Favorite
        where userID = #{userID} and docID = #{docID}
    </delete>

</mapper>