<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.diamond.mapper.SuggestionMapper">

    <insert id="addSuggestion" parameterType="Map">
        insert into Suggestion (id, content) VALUES (#{id}, #{content});
    </insert>

    <select id="getCollaboratorInfo" parameterType="String" resultType="DocUser">
        select *
        from DocUser
        where userID in (select userID from History where docID = #{docID});
    </select>

    <select id="getSuggestion" parameterType="String" resultType="String">
        select content
        from Suggestion
        where id = #{id};
    </select>

    <delete id="deleteSuggestion" parameterType="String">
        delete
        from Suggestion
        where id = #{id};
    </delete>

</mapper>