<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.diamond.mapper.TemplateMapper">

    <select id="getAllTemplate" resultType="Template">
        select *
        from Template
    </select>

    <select id="getTemplateByTemplateID" parameterType="String" resultType="Template">
        select *
        from Template
        where templateID = #{templateID}
    </select>

</mapper>